# ignore ansible retry
*.retry

# Ansible password file
ansible_password

# ignore IDE
*idea*
  ControlPath ~/.ssh/sockets/%r@%h:%p

*DS_Store*
# ignore ansible logs
logs/*

# ignore private files
private/*
secrets/*
