# All the aliases
alias ll="ls -alh"

alias dog="cat"
alias corn="cron"

# power management for sleep, lock
alias p="pmset"
alias sleepnow="pmset sleepnow"

# tmux aliases
alias ta="tmux attach -t$1"
alias tk="tmux kill-session -t$1"
alias tl="tmux ls"

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias wp-docker="docker-compose run --rm wp-cli wp"
