set -g mouse on
set-environment -g 'SSH_AUTH_SOCK' ~/.ssh/ssh_auth_sock

# List of default plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Add plugins here
set -g @plugin 'tmux-plugins/tmux-yank'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'

{% if ansible_os_family == 'Darwin' %}
set-option -g default-command "reattach-to-user-namespace -l zsh"
{% endif %}

set-environment -g 'SSH_AUTH_SOCK' ~/.ssh/ssh_auth_sock

